<div class="home_page_main_div">
    <div class="upper_nav_bar_for_home_page">
        <div class="left_side_logo_for_home_page">
            <h3>Quiz Portal</h3>
        </div>
        <div class="right_side_link_for_login">
            <%= link_to "Log In" , new_user_session_path	 , class: "login_link_for_home_page"%>
        </div>
    </div>
    <div class="lower_info_for_home_page_div">
        <div class="lower_inner_info_for_home_page_div">
            <div class="small_white_text_for_info">
                Welcome to 
            </div>
            <div class="large_golden_text_for_info">
                Quiz Portal 
            </div>
        </div>
    </div>
</div>